*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* ******************************navbar part************************************************* */
.header{
    height: 10vh;
}

.navbar-style{

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid black; */
    

}
.header{
    /* position: static; */
    /* border: 1px solid blue; */
}

.logo{

    height: 65px;
    padding: 2px 10px;


}
.icon-bar{

    background: black;

}
#navbar> ul> li > a{
    font-size: 27px;
    padding-top: 20px;
    padding-right: 45px;
    color: black;
}
#navbar> ul> li > a:hover{
    color: red;
    cursor: pointer;
}



/* ******************************end of navbar part************************************************* */
   /* **********************************about me ************************************** */

#aboutMe{
    border: 1px solid red;
    width: 100%;
    /* height: 1000px; */
    margin-top: 180px;
}

#aboutMe > #photo{

    width: 80%;
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

#aboutMe > #photo > #name{

    border: 1px solid red;
    width: 50%;

}
#name > div{

    display: flex;

}

#name > div > p:last-child{
   
    font-size: 47px;
    font-weight: 700;
    color: rgb(32, 122, 69);
    
}

  .n{
    font-size: 47px;
    font-weight: 700;
    color: rgb(70, 66, 66);
} 

#resume {
    background-color: aqua;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: transparent;
}
#r > a :hover{

    background-color: black;
    color: white;
    

}


#aboutMe > #photo > #pic{

    border: 1px solid red;
    width: 50%;

}

#pic{

    height: 400px;
    width: 15%;

}
#pic > img {
    margin-left: 120px;
    width: 70%;
    height: 90%;
    border-radius: 50%;
}
/* *******************about me ******************************/

#aboutMe > #about{

    margin-top: 100px;
    width: 60%;
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    /* height: 300px; */
    
}

#about > #heading{

    font-size: 35px;
    font-weight: 700;
    color: rgb(85, 85, 251);
    text-align: center;
    border: 1px solid red;
    /* margin-bottom: 20px; */
}

#name{
    font-size: 25px;
    font-weight: 600;
    color: black;
    
    padding-top: 20px;
    border: 1px solid green;
}

#summary{
    margin-top: 20px;
    padding: 0px 30px;
    font-size: 18px;
    line-height: 24px;
    color: black;

}
/* *********************about part*********************************** */





/* *************************for tablet ********************** */

@media all and (min-width : 768px ) and (max-width : 1023px){
    
   

    #name > div > p:last-child{
   
        font-size: 37px;
        font-weight: 700;
        color: rgb(32, 122, 69);
        
    }

    .n{
        font-size: 37px;
        font-weight: 700;
        color: rgb(70, 66, 66);
    } 


    #pic{

        height: 400px;
        width: 15%;
    
    }
    #pic > img {
        margin-left: 30px;
        width: 70%;
        height: 80%;
        border-radius: 50%;
    }
    #summary{
        padding: 0px 0px;
        font-size: 17px;
    }

}



/* **************************for mobile ************************************* */

@media all and (min-width : 320px ) and (max-width : 767px){

    #aboutMe > #photo{

        display: block;

    }

    #aboutMe > #photo > #name{

        border: 1px solid red;
        width: 100%;
    
    }

    #aboutMe > #photo > #pic{

        border: 1px solid red;
        width: 100%;
    
    }

    #pic > img {
        margin-left: 46px;
        width: 70%;
        height: 80%;
        border-radius: 50%;
        margin-top: 20px;
    }

    #resume{
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #summary{
        padding: 0px 0px;
        font-size: 16px;
    }

    #aboutMe > #about{
        margin-top: 20px;
    }

}

 /* *********************skills part**************************** */

 #skills{
    margin-top: 100px;
    border: 1px solid red;
    width: 100%;
    /* height: 1000px; */
    text-align: center;
}

#skills>#heading{

    font-size: 35px;
    font-weight: 600;
    color: green;
    border: 1px solid black;

}
#frontEnd{
    border: 1px solid black;
    width: 80%;
    height: 310px;
    margin: 80px 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#frontEnd > div{

    border:  1px solid green;
    width: 80%;
    margin: 0px 10%;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 200px;
    column-gap: 100px;
    /* margin-left: 30%; */
    padding-left: 13%;
    margin-top: 20px;

}

#frontEnd > div > div{
    /* border: 1px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    

}
#frontEnd > div > div :hover{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}



#frontEnd > p{
    font-size: 35px;
    font-weight: 600;

    /* border: 1px solid red; */

}
#frontEnd > hr{
    border: 2px solid black;
    text-decoration: solid;
}

#frontEnd > div > div >img{

    width: 100%;
    height: 70%;

}
#frontEnd > div > div > p{

    font-size: 30px;
    font-weight: 600;

}

#backend{

    text-align: center;
    width: 80%;
    margin: 0px 10%;
    border: 1px solid red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

#backend > p{
    font-size: 35px;
    font-weight: 600;
}

#backend > hr{
    border: 2px solid black;
}

#backend > div{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
    margin: 20px 0px 35px 0px;
    border: 1px solid black;
    padding-left: 70px;
    padding-right: 70px;

    column-gap: 100px;

}

#backend > div > div{
    border: 1px solid green;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}

#backend > div > div >img{
    width: 100%;
    height: 70%;

}

#backend > div > div > p{
    font-size: 26px;
    font-weight: 600;
}

/* *********************for tablet**************************** */

@media all and (min-width : 768px ) and (max-width : 1026px){

    #frontEnd > div{

        padding-left: 1%;
        column-gap: 30px;
        margin-top: 30px;

    }

    #backend > div{

        column-gap: 40px;
        grid-template-rows: 220px;
        padding-left: 20px;
        padding-right: 20px;

    }


}

/* ************************for mobile************************** */

@media all and (min-width : 320px ) and (max-width : 767px){


 #frontEnd > div{

        padding-left: 1%;
        column-gap: 30px;
        margin-top: 30px;
        grid-template-columns: 110px 110px ;
        grid-template-rows: 150px 150px;
        row-gap: 30px;

    }

    #backend > div{

        grid-template-columns: repeat(2,1fr);
        column-gap: 40px;
        row-gap: 40px;
        grid-template-rows: 220px;
        padding-left: 20px;
        padding-right: 20px;

    }



    #frontEnd{

        height: 460px;

    }




}

/* *****************************Project part started******************************* */


#projects{
    border: 1px solid red;
    width: 100%;
    height: 1000px;
    padding-top: 100px;
    margin-top: 100px;
    


}
#projects > p{
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}

#projectDiv{

    width: 80%;
    margin: 100px 10% 0px 10%;
    border: 1px solid green;
    display: flex;
    padding: 20px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

#projectDiv > #image{

    width: 50%;
    
    border: 1px solid black;
    

}
#image > img{
    width: 100%;
    height: 100%;
}
#image > img:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition-duration: 0.3s;
}

#projectDiv > #details{

    margin-left: 3%;
    width: 47%;
    border: 1px solid black;

}
#details > hr{
    border: 2px solid red;
}

#title{
    font-size: 30px;
    font-weight: 600;
}

#aboutweb{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 440;

}

#days{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 440;
}

#tech{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 440;
}
#links{
    border: 1px solid red;
    display: flex;
}
#links > div{

    width: 60px;
    height: 50px;
    border: 1px solid black;


}


