*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: lightgray; */
}
/* ******************************navbar part************************************************* */
html {
    scroll-behavior: smooth;
  }

.header{
    height: 10vh;
}

.navbar-style{

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid black; */
    

}
.header{
    /* position: static; */
    /* border: 1px solid blue; */
    background-color: white;
}

.logo{

    height: 65px;
    padding: 2px 10px;


}
.icon-bar{

    background: black;

}
#navbar> ul> li > a{
    font-size: 27px;
    padding-top: 20px;
    padding-right: 45px;
    color: black;
}
#navbar> ul> li > a:hover{
    color: red;
    cursor: pointer;
}



/* ******************************end of navbar part************************************************* */
   /* **********************************about me ************************************** */

#aboutMe{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 1000px; */
    /* margin-top: 180px; */
    padding-top: 180px;
    /* background-color: gray; */
    
}

#aboutMe > #photo{

    width: 80%;
    /* border: 1px solid black; */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#aboutMe > #photo > #name{

    /* border: 1px solid red; */
    width: 50%;
    padding-left: 10px;
    
}
#aboutMe > #photo > #name:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.3s;
}

#name > div{

    display: flex;
    
}

#name > div > p:last-child{
   
    font-size: 47px;
    font-weight: 700;
    color: rgb(32, 122, 69);
    
}

  .n{
    font-size: 47px;
    font-weight: 700;
    color: rgb(70, 66, 66);
} 

#resume {
    background-color: aqua;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 40px;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: transparent;
}
#r > a :hover{

    background-color: black;
    color: white;
    

}


#aboutMe > #photo > #pic{

    /* border: 1px solid red; */
    width: 50%;

}
#aboutMe > #photo > #pic:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: 0.3s;
}

#pic{

    height: 400px;
    width: 15%;
    
}
#pic > img {
    margin-left: 120px;
    width: 70%;
    height: 90%;
    border-radius: 50%;
}
/* *******************about me ******************************/

#aboutMe > #about{

    margin-top: 100px;
    width: 60%;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 10px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    /* height: 300px; */
    
}

#about > #heading{

    font-size: 35px;
    font-weight: 700;
    color: rgb(85, 85, 251);
    text-align: center;
    /* border: 1px solid red; */
    /* margin-bottom: 20px; */
}

#name{
    font-size: 25px;
    font-weight: 600;
    color: black;
    
    padding-top: 20px;
    /* border: 1px solid green; */
}

#summary{
    margin-top: 20px;
    padding: 0px 30px;
    font-size: 18px;
    line-height: 24px;
    color: black;

}
/* *********************about part*********************************** */





/* *************************for tablet ********************** */

@media all and (min-width : 768px ) and (max-width : 1027px){
    
   

    #name > div > p:last-child{
   
        font-size: 37px;
        font-weight: 700;
        color: rgb(32, 122, 69);
        
    }

    .n{
        font-size: 37px;
        font-weight: 700;
        color: rgb(70, 66, 66);
    } 


    #pic{

        height: 400px;
        width: 15%;
    
    }
    #pic > img {
        margin-left: 30px;
        width: 70%;
        height: 80%;
        border-radius: 50%;
    }
    #summary{
        padding: 0px 0px;
        font-size: 17px;
    }

}



/* **************************for mobile ************************************* */

@media all and (min-width : 320px ) and (max-width : 767px){

    #aboutMe > #photo{

        display: block;

    }

    #aboutMe > #photo > #name{

        /* border: 1px solid red; */
        width: 100%;
    
    }

    #aboutMe > #photo > #pic{

        /* border: 1px solid red; */
        width: 100%;
    
    }

    #pic > img {
        margin-left: 46px;
        width: 70%;
        height: 80%;
        border-radius: 50%;
        margin-top: 20px;
    }

    #resume{
        margin-left: 60px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #summary{
        padding: 0px 0px;
        font-size: 16px;
    }

    #aboutMe > #about{
        margin-top: 20px;
    }

}

 /* *********************skills part**************************** */

 #skills{
    margin-top: 100px;
    /* border: 1px solid red; */
    width: 100%;
    /* height: 1000px; */
    text-align: center;
    padding-top: 100px;
}

#skills>#heading{

    font-size: 35px;
    font-weight: 700;
    color: rgb(85, 85, 251);
    /* color: red; */
    /* border: 1px solid black; */

}
#frontEnd{
    /* border: 1px solid black; */
    width: 80%;
    height: 310px;
    margin: 80px 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-color: rgb(39, 36, 36); */
}

#frontEnd > div{

    /* border:  1px solid green; */
    width: 80%;
    margin: 0px 10%;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 200px;
    column-gap: 100px;
    /* margin-left: 30%; */
    
    padding-left: 13%;
    margin-top: 20px;
    /* cursor: pointer; */
}

#frontEnd > div > div{
    /* border: 1px solid red; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    transition-duration: 1.2s;

}

#frontEnd > div > :hover{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    /* cursor: pointer; */
    transform: scale(0.87);
    
}



#frontEnd > p{
    font-size: 35px;
    font-weight: 600;

    /* border: 1px solid red; */

}
#frontEnd > hr{
    border: 2px solid black;
    text-decoration: solid;
}

#frontEnd > div > div >img{

    width: 100%;
    height: 70%;

}
#frontEnd > div > div > p{

    font-size: 30px;
    font-weight: 600;

}

#backend{

    text-align: center;
    width: 80%;
    margin: 0px 10%;
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background-color: rgb(39, 36, 36); */


}

#backend > p{
    font-size: 35px;
    font-weight: 600;
    color: black;
}

#backend > hr{
    border: 2px solid black;
}

#backend > div{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 200px;
    margin: 20px 0px 35px 0px;
    border: 1px solid transparent;
    padding-left: 70px;
    padding-right: 70px;

    column-gap: 100px;

}

#backend > div > div{
    border: 1px solid transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: white;
    
    transition-duration: 1.2s;

}
#backend > div > div:hover{
    transform: scale(0.87);
}


#backend > div > div >img{
    width: 100%;
    height: 70%;

}

#backend > div > div > p{
    font-size: 26px;
    font-weight: 600;
}

/* *********************for tablet**************************** */

@media all and (min-width : 768px ) and (max-width : 1026px){

    #frontEnd > div{

        padding-left: 1%;
        column-gap: 30px;
        margin-top: 30px;

    }

    #backend > div{

        column-gap: 40px;
        grid-template-rows: 220px;
        padding-left: 20px;
        padding-right: 20px;

    }


}

/* ************************for mobile************************** */

@media all and (min-width : 320px ) and (max-width : 767px){


 #frontEnd > div{

        padding-left: 1%;
        column-gap: 30px;
        margin-top: 30px;
        grid-template-columns: 110px 110px ;
        grid-template-rows: 150px 150px;
        row-gap: 30px;

    }

    #backend > div{

        grid-template-columns: repeat(2,1fr);
        column-gap: 40px;
        row-gap: 40px;
        grid-template-rows: 220px;
        padding-left: 20px;
        padding-right: 20px;

    }



    #frontEnd{

        height: 460px;

    }




}

/* *****************************Project part started******************************* */


#projects{
    /* border: 1px solid red; */
    width: 100%;
    /* height: 1000px; */
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 150px;


}
#projects > p{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: rgb(85, 85, 251);

}

#projectDiv{

    width: 80%;
    margin: 100px 10% 0px 10%;
    /* border: 1px solid green; */
    display: flex;
    padding: 20px;
    /* height: 400px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    background-color: #222222;
    

}

#projectDiv > #image{

    width: 50%;
    transition-duration: 1.2s;
    
    /* border: 1px solid black; */
    

}
#projectDiv > #image:hover{
    transform: scale(0.95);
}

#image > img{
    width: 100%;
    height: 100%;
}
#image > img:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition-duration: 0.3s;
}

#projectDiv > #details{

    margin-left: 3%;
    width: 47%;
    /* border: 1px solid black; */

}
#details > hr{
    border: 2px solid red;
}

#title{
    font-size: 30px;
    font-weight: 600;
}

#aboutweb{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 440;

}

#days{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 440;
}

#tech{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 440;
}
#links{
    margin-top: 15px;
    /* border: 1px solid red; */
    display: flex;
    padding-left: 15px;
}
#links > a >div:first-child{

    width: 80px;
    margin-right: 15px;

}
#links > a >div{
    height: 30px;
    /* border: 1px solid black; */
    font-size: 20px;
    text-align: center;
    background-color: aqua;
    color: black;
}
#links >a> div:last-child{

width: 120px;

}


#links >a> div:hover{
    background-color: white;
    color: black;

} 

#links >a> div:hover {

    background-color: white;
    color: black;
    
}
#links > a {
    text-decoration: none;
}

#links >a> div {
    text-decoration: none;
    color: black;
    

}

/* ***************tablet**************************** */

@media all and (min-width : 768px ) and (max-width : 1023px){

    #projectDiv{
        display: block;
    }

    #projectDiv > #image{

        width: 100%;

    }

    #projectDiv > #details{
        width: 100%;
        margin-left: 0%;

    }

}

/* ****************mobile************************** */

@media all and (min-width : 320px ) and (max-width : 767px){

    #projectDiv{
        display: block;
    }

    #projectDiv > #image{

        width: 100%;
        height: 250px;

    }

    #projectDiv > #details{
        width: 100%;
        margin-left: 0%;

    }

}


/* ************************Contact details********************** */

#contact{

    border: 1px solid transparent;
    width: 100%;
    /* height: 600px; */
    background-color:#0e2431;

    padding-top: 50px;

}

#contact > #heading{

    text-align: center;
    font-size: 40px;
    color: #4070f4;
    font-weight: 700;
    
    text-decoration: underline;
    

}

#contact > #det{
    width: 50%;
    border: 1px solid transparent;
    margin-left: 30%;
    margin-top: 40px;

}

#det > #email{

    border: 1px solid transparent;
    font-size: 30px;
    color: white;



}

#det > #email > a >img{
    width: 50px;
    height: 40px;
    
}
#det > #phone{
    border: 1px solid transparent;
    font-size: 30px;
    color: white;
    margin-top: 20px;
}

#det > #phone > a >img{
    width: 50px;
    height: 40px;
    
}

#gitlin{

    margin-top: 30px;
    height: 80px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-evenly;
}

#gitlin > div{
    height: 100%;
    width: 15%;
    border: 1px solid transparent;
}

#gitlin > div > a>img{
    margin: auto;
    width: 60%;
    height: 80%;
}

#end{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}
/* *****************tablet************************** */
@media all and (min-width : 768px ) and (max-width : 1023px){

    #contact > #det{

        width: 70%;
        margin-left: 18%;
        margin-right: 12%;
    }

}

/* **********************mobile*********************** */

@media all and (min-width : 320px ) and (max-width : 767px){

    #contact{
        padding-top: 20px;
    }


    #gitlin{
        height: 50px;
        margin-top: 15px;
    }

    #end{
        font-size: 17px;
        margin-bottom: 10px;
    }

    #contact > #det{

        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #contact > #heading{

        font-size: 30px;
        font-weight: 600;
    }

   
    #det > #email{
        font-size: 20px;
    }


   #det > #phone{
    font-size: 20px;
   }
    #det > #email > a >img{

        width: 40px;
        height: 30px;
    }

    #det > #phone > a >img{

        width: 40px;
        height: 30px;
    }

    #contact > #det{
        margin-left: 5%;
    }

}

/* git hub calender */

#github{
    width: 80%;
    margin: auto;
    border: 2px solid black;
    margin-bottom: 100px;
}

#github>h3{
    text-align: center;
    margin-bottom: 20px;
}




